* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}
#root {
    width: 75vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;            
    border: 1px solid #acacac;
    box-shadow: 0 0 5px #008080;
    margin: 50px auto;
    position: relative; 
    padding: 40px;
    line-height: 25px;
    text-align: center;
}

#root h1 {
    margin: 20px 0;
}
#root p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 22px;
}
#root a {
    color:#008080;
    text-decoration: none;
}
#root a:hover {
    color:#099654;
}
#root p#help_info {
    font-size: 15px;
    font-style: italic;
}

#root button {
    color:#ffffff;
    margin: 5px 0;
    padding:10px 25px;
    text-transform: uppercase;
    background-color: #008080;
    border: 1px solid #008080;
    border-radius:  5px;
    transition: all 0.5s;
}


#root button:hover {
    padding:10px 25px;
    color:#008080;
    background-color: #ffffff;
    border: 1px solid #008080;
}